@import url(https://cdnjs.cloudflare.com/ajax/libs/spoqa-han-sans/2.1.2/css/SpoqaHanSans-kr.min.css);

* {font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#EFF3F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navigation {
  margin: 0;
}

.Navbar {
  margin: 0;
  padding: 10px 130px;
}

.Navbar h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}